{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "semi": true,
    "trailingComma": "es5",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": ["^[./]", "^./plugins/(.*)$", "^/components/(.*)$"],
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}